#navbar {
  width: 100%;
  height: 50px;
  background-color: #eee;
  color: gray;
  align-items: center;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-direction: row;
}

#countryName {
  width: 100%;
  height: 50px;
  color: gray;
  align-items: center;
  justify-content: space-evenly;
}

#countryImg {
  width: 50%;
  height: 50%;
  align-items: center;
}
